* {
    margin: 0;
    padding: 0;
    background-color: black;
}

.image1 {
    bottom: 50%;
    left: 70%;
    width: 300px;
    top: 2%;
    position: absolute;
    z-index: 2;
}

.image2  {
    bottom: 50%;
    left: 150px;
    width: 300px;
    top: 15%;
    position: absolute;
    z-index: 2;
}

.text h1 {
    left: 10%;
    top: 5%;
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 80px;
}

.text p {
    color: white;
    font-style: bold;
    font-weight: lighter;
    left: 10%;
    top: 70%;
    font-size: 20px;
    position: absolute;
}

.button {
    text-decoration: none;
    display: inline-block;
    margin-top: 1.3em;
    background-color: red;
    padding: 0.3em 2em;
    color: white;
    font-weight: 900;
    border-radius: 40px;
    font-size: 1.1em;
    opacity: 0.8;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: lightcoral;  
}

.text .button {
    bottom: 5%;
    right: 10%;
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 2;

}

@media (max-width: 768px) {
    .text h1,
    .text p {
        font-size: 5vw;
    }

    .image1,
    .image2 {
        width: 1%; 
        position: absolute;
    }

    .button,
    .text .button {
        width: 30%; 
    }
}